.contact-div {
  margin: 0px 20px 0px 200px;
  background: #242424;
  height: 85vh;
  border-radius: 20px 20px 20px 20px;
  border: 2px black solid;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.contact-div .contact-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-div label {
  position: relative;
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}
.contact-div input[type=text],
.contact-div input[type=email],
.contact-div input[type=tel] {
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #5c5c5c;
  color: white;
}
.contact-div input[type=text]:focus,
.contact-div input[type=email]:focus,
.contact-div input[type=tel]:focus {
  border-color: #4bb04e;
  outline: none;
}
.contact-div input[type=text]::placeholder,
.contact-div input[type=email]::placeholder,
.contact-div input[type=tel]::placeholder {
  font-size: 18px;
  color: red;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.contact-div textarea {
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #5c5c5c;
  color: white;
}
.contact-div textarea:focus {
  border-color: #4bb04e;
  outline: none;
}
.contact-div textarea::placeholder {
  font-size: 18px;
  color: red;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.contact-div button[type=submit] {
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  background-color: #4bb04e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.contact-div button[type=submit]:hover {
  box-shadow: 0 0 11px rgb(75, 176, 78);
}
.contact-div h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 50px;
  color: white;
}
.contact-div .error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 0;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .contact-div {
    margin: 191px 0px 0px 55px;
    background: #242424;
    height: 68vh;
    border-radius: 20px 0px 0px 20px;
    border: 2px black solid;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-div h2 {
    display: none;
  }
  .contact-div .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
    border: none;
    margin: 0;
    height: 100%;
  }
  .contact-div textarea {
    font-family: "Fjalla One", sans-serif;
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #5c5c5c;
    color: white;
  }
  .contact-div textarea:focus {
    border-color: #4bb04e;
    outline: none;
  }
  .contact-div textarea::placeholder {
    font-size: 18px;
    color: red;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  }
}

/*# sourceMappingURL=Contact.css.map */
