.projects-div {
  margin: 0px 20px 0px 200px;
  background: #242424;
  height: 85vh;
  border-radius: 20px 20px 20px 20px;
  border: 2px black solid;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.projects-div h2 {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  margin-top: 20px;
}
.projects-div .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-div .card-container .card {
  background: #1b1b1b;
  border: black solid 3px;
  border-radius: 30px 30px 30px 30px;
  margin: 20px;
}
.projects-div .card-container .card .card-main {
  padding: 0 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.projects-div .card-container .card .card-main .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  width: 50%;
}
.projects-div .card-container .card .card-main .card-info h3 {
  font-size: 50px;
}
.projects-div .card-container .card .card-main .card-info p {
  font-size: 20px;
}
.projects-div .card-container .card .card-main .card-info .card-skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  gap: 10px;
}
.projects-div .card-container .card .card-main .card-info .card-skill img {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  border: white solid 2px;
}
.projects-div .card-container .card .card-main .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.projects-div .card-container .card .card-main .card-img img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 30px 30px 30px 30px;
}
.projects-div .card-container .card .button-selector {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 20px;
  margin-left: 50px;
}
.projects-div .card-container .card .button-selector .button-a {
  text-align: center;
  background: #4bb04e;
  text-decoration: none;
  color: #ffffff;
  width: 70px;
  padding: 10px 15px 5px 15px;
  border-radius: 20px 20px 0px 0px;
}
.projects-div .card-container .card .button-selector .button-a:hover {
  box-shadow: 0 0 11px rgb(75, 176, 78);
}
.projects-div .card-container .btn-prev-next {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
.projects-div .card-container .btn-prev-next button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  background-color: #357d35;
  box-shadow: 0 0 11px rgb(75, 176, 78);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.projects-div .card-container .btn-prev-next button:hover {
  background-color: #4bb04e;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=Projects.css.map */
