.contact-div {
  background: #242424;
  margin-top: 120px;
  height: 78vh;
  border-radius: 20px 20px 20px 20px;
  border: 2px black solid;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-div .contact-container {
  width: 40%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-div .contact-container label {
  position: relative;
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: white;
}
.contact-div .contact-container input[type=text],
.contact-div .contact-container input[type=email],
.contact-div .contact-container input[type=tel] {
  font-family: "Fjalla One", sans-serif;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #5c5c5c;
  color: white;
}
.contact-div .contact-container input[type=text]:focus,
.contact-div .contact-container input[type=email]:focus,
.contact-div .contact-container input[type=tel]:focus {
  border-color: #4bb04e;
  outline: none;
}
.contact-div .contact-container input[type=text]::placeholder,
.contact-div .contact-container input[type=email]::placeholder,
.contact-div .contact-container input[type=tel]::placeholder {
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.contact-div .contact-container textarea {
  z-index: 2;
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #5c5c5c;
  color: white;
  resize: none;
}
.contact-div .contact-container textarea:focus {
  border-color: #4bb04e;
  outline: none;
}
.contact-div .contact-container textarea::placeholder {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.918);
}
.contact-div .contact-container .btn-submit {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-div .contact-container button[type=submit] {
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  background-color: #4bb04e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.contact-div .contact-container button[type=submit]:hover {
  box-shadow: 0 0 11px rgb(75, 176, 78);
}
.contact-div .contact-container h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 50px;
  color: white;
}
.contact-div .contact-container .Enjoy {
  color: #4bb04e;
  font-size: 20px;
}
.contact-div .contact-img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-div .contact-img img {
  z-index: 1;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 30px 30px 30px 30px;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 769px) {
  .contact-div {
    background: #242424;
    margin-top: 100px;
    height: 80vh;
    width: 90%;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
    margin-right: 0;
    border: 2px black solid;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-div .contact-container {
    width: 90%;
  }
  .contact-div .contact-container label {
    position: relative;
    left: 15px;
  }
  .contact-div .contact-container input[type=text],
  .contact-div .contact-container input[type=email],
  .contact-div .contact-container input[type=tel] {
    width: 80%;
  }
  .contact-div .contact-container input[type=text]::placeholder,
  .contact-div .contact-container input[type=email]::placeholder,
  .contact-div .contact-container input[type=tel]::placeholder {
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
  .contact-div .contact-container textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #5c5c5c;
    color: white;
    resize: none;
  }
  .contact-div .contact-container textarea:focus {
    border-color: #4bb04e;
    outline: none;
  }
  .contact-div .contact-container textarea::placeholder {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.918);
  }
  .contact-div .contact-container .btn-submit {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .contact-div .contact-container button[type=submit] {
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    background-color: #4bb04e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .contact-div .contact-container button[type=submit]:hover {
    box-shadow: 0 0 11px rgb(75, 176, 78);
  }
  .contact-div .contact-container h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
  }
  .contact-div .contact-container .Enjoy {
    color: #4bb04e;
    font-size: 20px;
  }
  .contact-div .contact-img {
    display: none;
  }
}
@media (max-width: 426px) {
  .contact-div {
    background: #242424;
    margin-top: 195px;
    height: 68vh;
    width: 85%;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
    border: 2px #4bb04e solid;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-div .contact-container {
    width: 90%;
    padding: 0px;
  }
  .contact-div .contact-container label {
    left: 15px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .contact-div .contact-container input[type=text],
  .contact-div .contact-container input[type=email],
  .contact-div .contact-container input[type=tel] {
    width: 50%;
    height: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .contact-div .contact-container input[type=text]::placeholder,
  .contact-div .contact-container input[type=email]::placeholder,
  .contact-div .contact-container input[type=tel]::placeholder {
    font-size: 12px;
  }
  .contact-div .contact-container textarea {
    width: 90%;
    height: 90px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 30px;
  }
  .contact-div .contact-container textarea::placeholder {
    font-size: 15px;
  }
  .contact-div .contact-container .btn-submit {
    gap: 10px;
  }
  .contact-div .contact-container button[type=submit] {
    font-size: 15px;
    padding: 7px 8px;
    border-radius: 30px;
  }
  .contact-div .contact-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .contact-div .contact-container .Enjoy {
    font-size: 12px;
  }
  .contact-div .contact-img {
    display: none;
  }
}

/*# sourceMappingURL=Contact.css.map */
