.projects-div {
  background: #242424;
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  border-radius: 20px 20px 20px 20px;
  border: 2px black solid;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-div .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.projects-div .card-container .card {
  width: 90%;
  height: 80%;
  background: #1b1b1b;
  border: black solid 3px;
  border-radius: 30px 30px 30px 30px;
}
.projects-div .card-container .card .card-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.projects-div .card-container .card .card-main .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  width: 50%;
  padding: 20px;
}
.projects-div .card-container .card .card-main .card-info h3 {
  font-size: 50px;
}
.projects-div .card-container .card .card-main .card-info p {
  font-size: 20px;
}
.projects-div .card-container .card .card-main .card-info .card-skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  gap: 10px;
}
.projects-div .card-container .card .card-main .card-info .card-skill img {
  width: 50px;
  height: 50px;
  margin-bottom: -10px;
  background: white;
  border-radius: 50%;
  border: white solid 2px;
}
.projects-div .card-container .card .card-main .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}
.projects-div .card-container .card .card-main .card-img img {
  margin: 30px 30px;
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 30px 30px 30px 30px;
}
.projects-div .card-container .card .button-selector {
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 20px;
  margin-left: 50px;
}
.projects-div .card-container .card .button-selector .button-a {
  text-align: center;
  background: #357d35;
  text-decoration: none;
  color: #ffffff;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  width: 70px;
  padding: 10px 15px 5px 15px;
  border-radius: 20px 20px 0px 0px;
}
.projects-div .card-container .card .button-selector .button-a:hover {
  box-shadow: 0 0 11px rgb(0, 0, 0);
  background-color: #4bb04e;
}
.projects-div .btn-prev-next {
  width: 100%;
  height: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}
.projects-div .btn-prev-next .btn-ico {
  display: none;
}
.projects-div .btn-prev-next button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #357d35;
  box-shadow: 0 0 11px rgb(0, 0, 0);
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-size: 16px;
  cursor: pointer;
}
.projects-div .btn-prev-next button:hover {
  background-color: #4bb04e;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 650px) {
  .projects-div {
    margin: 120px 0 0 0;
    border-radius: 0 0 0 0;
    animation: none;
  }
  .projects-div .card-container {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }
  .projects-div .card-container .card {
    width: 100%;
    height: 80%;
    background: #1b1b1b;
    border: none;
    border-radius: 0 0 0 0;
  }
  .projects-div .card-container .card .card-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .projects-div .card-container .card .card-main .card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .projects-div .card-container .card .card-main .card-info h3 {
    font-size: 30px;
    margin: 0;
  }
  .projects-div .card-container .card .card-main .card-info p {
    font-size: 18px;
  }
  .projects-div .card-container .card .card-main .card-info .card-skill {
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;
  }
  .projects-div .card-container .card .card-main .card-info .card-skill img {
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    background: white;
    border-radius: 50%;
    border: white solid 2px;
  }
  .projects-div .card-container .card .card-main .card-img {
    width: 100%;
    margin: 0;
  }
  .projects-div .card-container .card .card-main .card-img img {
    margin: 10px 0;
    object-fit: contain;
    width: 100%;
    height: 200px;
    border-radius: 0 0 0 0;
  }
  .projects-div .card-container .card .button-selector {
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .projects-div .card-container .card .button-selector .button-a {
    text-wrap: nowrap;
    font-size: 15px;
    width: 60px;
  }
  .projects-div .card-container .card .button-selector .button-a:hover {
    box-shadow: 0 0 11px rgb(0, 0, 0);
    background-color: #4bb04e;
  }
  .projects-div .btn-prev-next {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0 10px 0;
  }
  .projects-div .btn-prev-next .btn-ico {
    display: inline;
  }
  .projects-div .btn-prev-next .btn-text {
    display: none;
  }
  .projects-div .btn-prev-next button {
    width: 50px;
    font-size: 15px;
  }
}

/*# sourceMappingURL=Projects.css.map */
