.skills-div {
  background: #242424;
  margin-top: 120px;
  height: 78vh;
  border-radius: 20px 20px 20px 20px;
  border: 2px black solid;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-div .skill-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.skills-div .skill-container .dev {
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  background: #171717;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 50px 50px 50px 50px;
  padding: 30px 20px;
  margin: 50px 30px;
}
.skills-div .skill-container .dev .title-dev {
  position: absolute;
  top: -50px;
  left: 50px;
  font-size: 30px;
  text-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
}
.skills-div .skill-container .dev .dev-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.skills-div .skill-container .dev .dev-skill img {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 100%;
  border: 2px white solid;
}
.skills-div .skill-container .other {
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  background: #171717;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 50px 50px 50px 50px;
  padding: 30px 20px;
  margin: 50px 30px;
}
.skills-div .skill-container .other .title-other {
  position: absolute;
  top: -50px;
  left: 50px;
  font-size: 30px;
  text-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
}
.skills-div .skill-container .other .other-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.skills-div .skill-container .other .other-skill img {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 100%;
  border: 2px white solid;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .skills-div {
    margin: 191px 0px 0px 55px;
    background: #242424;
    height: 68vh;
    border-radius: 20px 0px 0px 20px;
    border: 2px black solid;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .skills-div p {
    display: none;
  }
  .skills-div .skill-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    padding: 20px 0 20px 0;
    margin-top: 10px;
  }
  .skills-div .skill-container .dev {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    margin: 10px 0 0 10px;
    border-radius: 20px 0 0 20px;
  }
  .skills-div .skill-container .dev .title-dev {
    display: none;
  }
  .skills-div .skill-container .dev .dev-skill {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 15px;
  }
  .skills-div .skill-container .dev .dev-skill img {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    border: 2px white solid;
  }
  .skills-div .skill-container .other {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 10px;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
  }
  .skills-div .skill-container .other .title-other {
    display: none;
  }
  .skills-div .skill-container .other .other-skill {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 15px;
  }
  .skills-div .skill-container .other .other-skill img {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    border: 2px white solid;
  }
}

/*# sourceMappingURL=Skills.css.map */
